[submodule "third_party/FreeRTOS/amazon-freertos"]
	path = third_party/FreeRTOS/amazon-freertos
	url = git@github.com:aws/amazon-freertos.git

[submodule "third_party/unityTest/Unity"]
	path = third_party/unityTest/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
