[submodule "extern/unityTest/Unity"]
	path = extern/unityTest/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "extern/FreeRTOS/amazon-freertos"]
	path = extern/FreeRTOS/amazon-freertos
	url = git@github.com:aws/amazon-freertos.git
